#--------------------------------
# CORS
#--------------------------------

CORS_ORIGIN = *

#--------------------------------
# DATABASE
#--------------------------------

DB_HOST = localhost
DB_PORT = 3306
DB_NAME = elaina_db
DB_USER = root
DB_PASS = 

#--------------------------------
# AES SECRET KEY
#--------------------------------

AES_SECRET_KEY = SECRET_KEY

#--------------------------------
# JWT SECRET KEY
#--------------------------------

JWT_SECRET_KEY = SECRET_KEY
JWT_SALT_KEY = SALT_KEY